@charset "UTF-8";
/* Insert custom CSS to override the template CSS */

/* Body element added by Aida on November 15th */
html, body {
    position: absolute;
    height: 100%; 
    width: 100%; 
    overflow-x: hidden;  
}

/***********************
* Owner: Aida Tuhcic
* Date: November 15th 
* Comments: Added css elements to the logo. 
* Purpose: The following code down below, formats the logo in place - for it to align with the navigation bar. 
           As well, I also resized the image below. 
***********************/

/* logo class */
.logo {
    position: absolute; 
    margin-left: 0px; 
    margin-top: -45px; 
}

/* logo image */ 
.logo img {
    height: 150px;  
}
/* End Owner: Aida Tuhcic */

/***********************
* Owner: Aida Tuhcic
* Date: November 15th 
* Comments: Added css elements to the slogan. 
* Sources: Some elements are derived from https://www.w3schools.com/howto/howto_css_hero_image.asp, however not all.
           Will put extra comments down below displaying which elements. 
           - The translate element down below allows for an element to be repositioned in a vertical/horizontal direction.
           - The reason I used it was to align the slogan in the center of the hero image.
           - Used inspect tool on the browser to figure out the right dimensions for the media queries.  
* Purpose: The following code down below, formats the slogan in the center of the hero image. 
           - Also added media queries, for the text to render properly when a user changes devices or their browser viewport.  
***********************/

/* slogan */
.slogan, 
    .h1, .p {
    color: #ffffff; 
    position: absolute; 
    text-align: center; 
    top: 50%; 
    left: 50%;  
    width: 100%; 
    transform: translate(-50%, -50%); /* Source w3schools. */
}

/* h1 element located in slogan class */
.slogan h1 {
    color: inherit; 
    font-size: 6em;  
}

/* media query for slogan .h1 */
@media all and (min-width: 414px) and (max-width: 767px) {
    .slogan h1 {
      font-size: 3.2em; 
    }
  }

/* paragraph element located in slogan class */
.slogan p {
    font-size: 1.5em; 
    font-style: italic; 
}

/* media query for slogan paragraph element */
@media all and (min-width: 414px) and (max-width: 767px) {
    .slogan p {
      font-size: 1.2em; 
    }
  }

/* End Owner: Aida Tuhcic */

/***********************
* Owner: Aida Tuhcic
* Date: November 15th 
* Comments: Added css elements to the button arrow png located in the hero image. 
* Sources: Some elements are derived from https://www.w3schools.com/howto/howto_css_hero_image.asp, however not all.
           Will put extra comments down below displaying which elements. 
           - The translate element down below allows for an element to be repositioned in a vertical/horizontal direction.
           - The reason I used it was to align the button arrow png in the center of the hero image. 
           - Used inspect tool on the browser to figure out the right dimensions for the media queries. 
* Purpose: The following code down below, formats the button arrow png in the center of the hero image. 
           - The button arrow png acts as a continue button for the user to continue down to next section of the webpage. 
           - Also added media queries, for the text to render properly when a user changes devices or their browser viewport.  
***********************/

/* button arrow class */ 
.button-arrow { 
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -80%); /* Source w3schools. */
}

/* media query for button arrow class */ 
@media all and (min-width: 414px) and (max-width: 767px) {
    .button-arrow {
        position: absolute; 
        top: 70%;
        left: 50%;  
        transform: translate(-50%, -70%); /* Source w3schools. */
    }
}

/* button arrow img */ 
.button-arrow img {
    position: inherit; 
    height: 100px; 
}

/* media query for button arrow img */ 
@media all and (min-width: 414px) and (max-width: 767px) {
    .button-arrow img {
        position: inherit; 
        height: 80px; 
    }
}
/* End Owner: Aida Tuhcic */
