@charset "UTF-8";

h1 {
    font-family:'Raleway'; /*font changed by Terrie-Ann*/
    font-size: 50px;
    color: black; /*11/11/2021 Terrie-Ann*/
}
footer { /*footer style by Terrie-Ann*/
background-color: lightskyblue;
text-align: center;
font-style: 'Raleway';
font-size: 12px;
}
h3 {
    font-style: 'Raleway';
    font-size: 15px;
    color: black;
    text-align: center;   
}