@charset "UTF-8";

/***********************
* Owner: Aida Tuhcic
* Date: November 15th 
* Comments: Added css elements to the logo. 
* Purpose: The following code down below, formats the logo in place - in order for it to align with the navigation bar. 
           As well, I also resized the image below. 
***********************/
.logo {
    position: absolute; 
    margin-left: 0px; 
    margin-top: -45px; 
}

.logo img {
    height: 150px;  
}
/* End Owner: Aida Tuhcic */


h1 {
    font-family:'Raleway'; /*font changed by Terrie-Ann*/
    font-size: 50px;
    color: black; /*11/11/2021 Terrie-Ann*/
}
footer { /*footer by Terrie-Ann 15/11/2021*/
background-color: lightskyblue;
font-style: 'Raleway';
font-size: 12px;
}
h3 { /*style updated by Terrie-Ann 15/11/2021*/
    font-style: 'Raleway';
    font-size: 15px;
    color: black;   
}